<div class="container-fuild" >
    <div class="row p-5 d-flex mt-5" style="justify-content: center;">
        <div class="col-md-6 bg-light p-5 mt-5" style="height: 300px;border-radius: 10px;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);">
        <form>
            <div class="mb-3" style="display: flex; justify-content: center;align-items: center;">
                <i class="bi bi-bank" style="font-size: 45px;"></i>
            </div>
            <div class="mb-3">
                <label class="text-dark"> Register Bank:</label>
                <input type="text"  class="form-control" placeholder="Enter bank name">
            </div>
            <div class="mb-3">
                <button class="btn text-light w-100" style="background-color: #4b0082;">Register</button>
            </div>
        </form>
    </div>
    </div>
</div>